#input-tabel {
  background-color: rgb(88, 88, 88, 0.3);
  box-shadow: 0 5px 15px black;
  width: max-content;
}

.form-body {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin: 0.5vw;
}

.form-body input, select, button {
  background-color: rgb(255, 255, 255, 0.2);
  border: thick black 3px;
  border-radius: 10px 0;
  box-shadow: 0 5px 15px white;
  color: white;
  margin: 1vw;
  padding: 0.5vw;
}

option {
  background-color: rgb(229, 255, 0, 0.7);
  color: black;
  padding: 0.5vw;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 0 5px 15px white;
}

button {
  cursor: pointer;
  transition: transform 0.25s , background-color 1s , color 1s , border-radius 0.25s;
}

button:hover {
  background-color: rgb(255, 255, 0, 0.9);
  border-radius: 0 10px;
  color: black;
  transform: scale(1.2);
}

.table-body {
  border: solid black 3px;
  margin: 0 1.5vw 1.5vw;
}

.table-body th {
  background-color: rgb(255, 251, 0);
  border: solid black 3px;
  border-bottom: 5px;
}

.table-body td {
  background-color: rgb(44, 44, 44);
  border: solid black 3px;
  color: aliceblue;
  padding: 0.3vw;
}

